@model krka_naloga2.Data.Dostava

<div>
    <p>
        Dostava: @Model.Sifra<br />
        Uporabnik: @Model.Uporabnik.UserName<br />
        Podjetje: @Model.Podjetje.Naziv<br />
        Skladišče: @Model.TockaSkladisca.Skladisce.Sifra<br />
        Točka skladišča: @Model.TockaSkladisca.Sifra<br />
        Termin: @Model.Termin<br />
    </p>
</div>