@model IEnumerable<krka_naloga2.Data.Dostava>

@{
    ViewData["Title"] = "SeznamDostav";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SeznamDostav</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sifra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Termin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TockaSkladisca.Skladisce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TockaSkladisca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Podjetje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uporabnik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sifra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Termin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TockaSkladisca.Skladisce.Sifra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TockaSkladisca.Sifra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Podjetje.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uporabnik.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if (User.IsInRole("Admin") || User.IsInRole("Uporabnik"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm active" role="button">Edit</a>
                }
                <a asp-action="Porocilo" asp-route-sifraDostave="@item.Sifra" class="btn btn-primary btn-sm active" role="button">Poročilo</a>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="DeleteDostava" asp-route-sifraDostave="@item.Sifra" class="btn btn-primary btn-sm active" role="button">Izbriši</a>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("Skladiscnik"))
                {
                    <a asp-action="Prevzem" asp-route-sifraDostave="@item.Sifra" class="btn btn-primary btn-sm active" role="button">Prevzem</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
